.child{
    width: 100%;
    height: 90px;
    border: 1px solid blue;
    display: inline-block;
    box-sizing: border-box;
}
.myname{
    float: left;
    font-size: 2rem;
}
.pages{
    float: right;
    font-size: 2rem;
}
.pages a.active{
    color: inherit;
}
.pages a{
    color: inherit;
}