.child{
    width: 100%;
    height: 60px;
    border: 1px solid blue;
    display: inline-block;
    box-sizing: border-box;
    background-color: aqua;
    padding: 10px;
}
.childb{
    width: 100%;
    height: 600px;
    border: 1px solid bl
}
.myname{
    float: left;
    font-size: 2rem;
}
.pages{
    float: right;
    font-size: 2rem;
}
.pages a.active{
    color: inherit;
}
.pages a{
    color: inherit;
}
body{
    background-color: bisque;
}
main{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.8rem;
}
p{
    text-align: center;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 130px;
}